/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*My code*/
@media screen and (min-width: 360px) {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: silver;
  }

  .index-header {
    width: 100%;
    height: 100px;
    background-color: #569188;
  }

  .index-header .pic-ink {
    display: block;
  }

  .index-header .pic {
    width: 100px;
    height: 100px;
  }

  .index-header .container {
    display: inline-block;
    float: right;
  }

  .container .line-1,
  .line-2,
  .line-3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .index-header .index-nav {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #569188;
    width: 40vw;
    height: 40vh;
    z-index: 3;
    opacity: 0;
    transition: ease-in 0.6s;
  }

  .index-nav .close {
    color: #000;
    height: 10px;
    width: 10px;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    opacity: 0;
  }

  .index-nav .ul-index {
    display: flex;
    flex-direction: column;
  }

  .ul-index .li-index {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
  }

  .ul-index .li-index .a-index {
    text-decoration: none;
    color: #111;
    font-weight: 900;
  }

  .index-main {
    height: 1000px;
    width: 100%;
  }

  .index-main .main-img {
    width: 100vw;
    height: 200px;
    margin-bottom: 20px;
  }

  #about,
  #contact,
  #portfolio,
  #case {
    display: inline-block;
    margin-top: 350px;
    width: fit-content;
    height: 400px;
    margin-left: 5%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #4f7f90;
    border-radius: 10px;
    block-size: fit-content;
  }

  #about .title {
    color: #fff;
    font-family: padauk;
    padding: 40px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
  }

  #about .about {
    padding: 40px;
    margin-bottom: 50%;
    background-color: #111;
    width: fit-content;
    block-size: fit-content;
  }

  .about .index-about {
    color: #fff;
    line-height: 28px;
    font-size: 20px;
  }

  #contact .title {
    color: #fff;
    font-family: padauk;
    padding: 40px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  #contact .contact {
    padding: 40px;
    margin-bottom: 50%;
    background-color: #111;
  }
}

@media screen and (min-width: 600px) {
}
